<%#=
this where the flight will be bought
need to add:
    button/info
    spreedly express
    convert float to cents? 
    option to buy through expedia? 
%>
<script src="https://core.spreedly.com/iframe/express-2.min.js"></script>

<%= @flight.route %>
<%= @flight.price %>
<%= @token %>
<%= @temp %>
<script>
    SpreedlyExpress.init("4R4KbWsPkRQKyXvZ1Jep2bnRyXU", {
        "amount": "$<%= @flight.price %>",
        "company_name": "Spreedly"

    });

    SpreedlyExpress.onPaymentMethod(function(token, paymentMethod) {

  // Send requisite payment method info to backend
    var tokenField = document.getElementById("payment_method_token");

    tokenField.setAttribute("value", token);

    var masterForm = document.getElementById('payment-form');
    masterForm.submit();
    });
</script>

<%# Spreedly drop in button %>
<form id="payment-form" action='/flights/<%= @flight.id %>/purchase' method="POST">
    <input type="hidden" name="payment_method_token" id="payment_method_token">
    <input type="button" value="Enter Payment Info" onclick="SpreedlyExpress.openView();">
</form>


